<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.mealadvisor.auth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>mealadvisor</string>
				<string>com.googleusercontent.apps.YOUR_GOOGLE_CLIENT_ID</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>YOUR_GOOGLE_CLIENT_ID.apps.googleusercontent.com</string>
</dict>
</plist>
